
.card {
    border-radius: 1rem;
}

.row {
    margin: 0;
}

.card.bg-dark .form-control {
    border-radius: 0.25rem;
    color: white;
    background-color: #ffffff00;
    border: 1px solid rgba(206, 212, 218, 0.4);
}

.card.bg-dark .form-control::-webkit-input-placeholder{
    color:white;
}
.card.bg-dark .form-control:-moz-placeholder {
    color:white;
}

.card.bg-dark .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.card.bg-dark .btn-outline-light {
    border-radius: 0.25rem;
    font-size: 1rem;
    color: white;
    border-color: white;
    background-color: #ffffff00;
    font-weight: 600;
}

.card.bg-dark .btn-outline-light:hover {
    background-color: #0000009a;
}